@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: Lato;font-display: swap;src: url("../assets/fonts/Lato-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?87d9d01c8aac0ddeffaf14510cc9bbfe") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-visa"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-u"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-toch"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-strm"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-Starsss"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-ut"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-s-tv"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-s-in"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-quality"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-qqq"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-pp"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-oneStar"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-mimiArr"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-mc"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-mar"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-man"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-jj"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-ion_cart"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-grm"]::before { 
		content: "\f115"; 
	} 
	[class*="--icon-fut"]::before { 
		content: "\f116"; 
	} 
	[class*="--icon-dhl"]::before { 
		content: "\f117"; 
	} 
	[class*="--icon-cardMini"]::before { 
		content: "\f118"; 
	} 
	[class*="--icon-card"]::before { 
		content: "\f119"; 
	} 
	[class*="--icon-ar"]::before { 
		content: "\f11a"; 
	} 


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #3A3A3A;
  font-family: "lato", sans-serif;
  font-size: 1rem;
}
body .--form-error {
  color: #72AEC8;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  align-items: center;
}
.menu__link {
  color: #272727;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.menu__link {
  position: relative;
  transition: color 0.5s;
}
.menu__link::after {
  content: "";
  width: 0;
  height: 0.125rem;
  background-color: #272727;
  position: absolute;
  bottom: -0.09375rem;
  left: 50%;
  transition: width 0.5s, left 0.5s;
}
.menu__link--active {
  color: #272727;
}
.menu__link--active.menu__link {
  color: #72AEC8;
}
.menu__link--active::after {
  left: 0;
  width: 100%;
  background-color: #72AEC8;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header__container {
  display: flex;
  align-items: center;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.header__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.75rem;
  border-radius: 0.125rem;
  background-color: rgba(255, 255, 255, 0.9);
}
.header__actions {
  position: relative;
  z-index: 5;
}

.logo {
  position: relative;
  z-index: 5;
  flex-grow: 1;
}

.actions-header {
  display: flex;
  align-items: center;
}
.actions-header--icon-search {
  cursor: pointer;
  transition: all 0.3s;
}
.actions-header--icon-man {
  cursor: pointer;
  transition: all 0.3s;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap */
.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 0.9375rem;
  row-gap: 1.875rem;
  border-bottom: 0.0625rem solid #D0D0D0;
}
.footer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.9375rem;
}
.footer__copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__right p {
  font-weight: 300;
}
.footer__right a {
  font-weight: 400;
  text-decoration: underline;
}

.item-footer {
  display: flex;
  flex-direction: column;
}
.item-footer {
  justify-content: start;
}
.item-footer__text p {
  font-weight: 300;
  line-height: 1.38;
}
.item-footer__text a {
  margin-bottom: 0.625rem;
  text-decoration: underline;
  transition: color 0.3s;
}
.item-footer__social {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  color: #72AEC8;
}
.item-footer__title {
  text-transform: uppercase;
  color: #272727;
  font-family: "jost", sans-serif;
}
.item-footer__link {
  text-transform: uppercase;
  color: #272727;
}
.item-footer__link {
  font-weight: 500;
  line-height: 1.48;
  transition: color 0.5s;
}

.social {
  font-size: 1.1875rem;
}
.social--icon-s-ut {
  transition: 0.3s;
}
.social--icon-s-in {
  transition: 0.3s;
}
.social--icon-s-tv {
  transition: 0.3s;
}
.social--icon-grm {
  transition: 0.3s;
}
.social--icon-s-fb {
  transition: 0.3s;
}

.left-footer {
  display: flex;
  align-items: center;
}
.left-footer__col {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
}
.left-footer__text {
  font-weight: 300;
}
.left-footer__img--icon-visa, .left-footer__img--icon-pp, .left-footer__img--icon-mc {
  color: #D7DDDF;
  font-size: 1.1875rem;
}/* Generated by vite-plugin-svg-spritemap */
.input {
  background-color: #ffffff;
  padding: 1rem 2.5rem;
}

.button {
  padding: 1rem 2.5rem;
  background-color: #72AEC8;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  transition: color 0.5s;
}
.button--fw {
  width: 100%;
}
.button--icon {
  width: 100%;
}
.button--min {
  font-size: 1.0625rem;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  padding: 1rem 2.5rem;
  background-color: #72AEC8;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.button--fw {
  width: 100%;
}
.button--black {
  background-color: #272727;
}/* Generated by vite-plugin-svg-spritemap */
.cart {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  transition: all 0.3s;
  cursor: pointer;
}
.cart__quantity {
  color: #72AEC8;
}/* Generated by vite-plugin-svg-spritemap */
.subscribe__content {
  width: 100%;
  display: flex;
  background-color: #272727;
  align-items: center;
}
.subscribe__title {
  color: #ffffff;
  font-family: "jost", sans-serif;
}
.subscribe__title {
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 6%;
  margin-bottom: 0.625rem;
}
.subscribe__text p {
  font-weight: 300;
}
.subscribe__text p {
  color: #ffffff;
  line-height: 1.38;
  letter-spacing: 3%;
}
.subscribe__form {
  display: flex;
}/* Generated by vite-plugin-svg-spritemap */
.sectiontitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectiontitle--min {
  justify-content: center;
}
.sectiontitle__title a {
  text-transform: uppercase;
}
.sectiontitle__title a {
  font-family: "jost", sans-serif;
  transition: color 0.5s;
}
.sectiontitle__link {
  font-weight: 500;
}
.sectiontitle__link {
  position: relative;
  transition: color 0.5s;
}
.sectiontitle__link::after {
  content: "";
  width: 100%;
  height: 0.1875rem;
  background-color: #E1E1E1;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: background-color 0.5s;
}/* Generated by vite-plugin-svg-spritemap */
.insta__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.insta__item {
  position: relative;
  max-height: 15.25rem;
  max-width: 15.25rem;
  min-height: 15.25rem;
  min-width: 15.25rem;
  aspect-ratio: 244/244;
  overflow: hidden;
}
.insta__item::before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s;
}
.insta__item img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: scale 0.3s;
}
.insta__hover {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  left: calc(50% - 0.9375rem);
  top: calc(50% - 0.9375rem);
  opacity: 0;
  transition: opacity 0.2s 0.2s;
}
.insta__hover img {
  width: 2rem;
  height: 2rem;
}/* Generated by vite-plugin-svg-spritemap */@media (max-width: 81.25em){
  .subscribe__container {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }
}@media (max-width: 61.99875em){
  .subscribe__content {
    flex-direction: column;
    gap: 0.9375rem;
  }
  .subscribe__title {
    text-align: center;
  }
  .subscribe__text p {
    text-align: center;
  }
}@media (max-width: 56.25em){
  .insta__item {
    max-height: 7.625rem;
    max-width: 7.625rem;
    min-height: 7.625rem;
    min-width: 7.625rem;
  }
}@media (max-width: 51.25em){
  .footer__copy {
    flex-direction: column;
    row-gap: 0.9375rem;
  }
}@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 47.99875em){
  .menu__body {
    margin-top: 3.125rem;
    position: fixed;
    width: 100%;
    height: 100svh;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color: rgba(237, 241, 243, 0.9);
    z-index: 2;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    row-gap: 0.9375rem;
    align-items: flex-end;
  }
  .menu__link {
    font-size: 2rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #3A3A3A;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .subscribe__form {
    flex-direction: column;
    width: 100%;
  }
}@media (max-width: 41.25em){
  .footer__body {
    text-align: center;
  }
}@media (max-width: 40.625em){
  .footer__body {
    justify-content: center;
  }
  .item-footer__text-colms {
    display: flex;
    align-items: flex-end;
    gap: 0.9375rem;
  }
}@media (max-width: 29.99875em){
  .footer__container {
    margin: 0 -0.9375rem;
  }
}@media (max-width: 26.25em){
  .footer__right {
    text-align: center;
  }
  .item-footer__text-colms {
    display: block;
  }
  .left-footer {
    flex-direction: column;
    column-gap: 0.625rem;
  }
}@media (width <= 20em){
  .menu__list {
    gap: 0.9375rem;
  }
  .header__container {
    gap: 0.9375rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .actions-header {
    column-gap: 0.75rem;
  }
  .footer__body {
    padding-bottom: 1.25rem;
  }
  .footer__copy {
    padding-top: 0.625rem;
  }
  .footer__copy {
    padding-bottom: 0.625rem;
  }
  .footer__right p {
    font-size: 0.75rem;
  }
  .footer__right a {
    font-size: 0.75rem;
  }
  .item-footer {
    gap: 0.375rem;
  }
  .item-footer__text p {
    font-size: 0.5rem;
  }
  .item-footer__social {
    gap: 0.9375rem;
  }
  .item-footer__title {
    font-size: 1rem;
  }
  .item-footer__title {
    margin-bottom: 0.5rem;
  }
  .item-footer__link {
    font-size: 0.625rem;
  }
  .left-footer {
    column-gap: 0.9375rem;
  }
  .left-footer__text {
    font-size: 0.75rem;
  }
  .subscribe {
    margin-bottom: 1.875rem;
  }
  .subscribe__content {
    column-gap: 0.3125rem;
  }
  .subscribe__content {
    padding-top: 0.3125rem;
  }
  .subscribe__content {
    padding-bottom: 0.3125rem;
  }
  .subscribe__content {
    padding-left: 0.3125rem;
  }
  .subscribe__content {
    padding-right: 0.3125rem;
  }
  .subscribe__title {
    font-size: 1.125rem;
  }
  .subscribe__text p {
    font-size: 0.875rem;
  }
  .sectiontitle {
    padding-bottom: 0.9375rem;
  }
  .sectiontitle__title a {
    font-size: 1.125rem;
  }
  .sectiontitle__link {
    font-size: 0.75rem;
  }
  .insta {
    margin-bottom: 1.875rem;
  }
  .insta__items {
    gap: 0.3125rem;
  }
}@media (width > 20em) and (width <= 83.125em){
  .menu__list {
    gap: clamp( 0.9375rem , 0.36324257425625rem  +  2.8712871287vw , 2.75rem );
  }
  .header__container {
    gap: clamp( 0.9375rem , -1.14170792079375rem  +  10.396039604vw , 7.5rem );
  }
  .logo {
    font-size: clamp( 1.5rem , 1.32178217821875rem  +  0.8910891089vw , 2.0625rem );
  }
  .actions-header {
    column-gap: clamp( 0.75rem , 0.6113861386125rem  +  0.6930693069vw , 1.1875rem );
  }
  .footer__body {
    padding-bottom: clamp( 1.25rem , 0.06188118811875rem  +  5.9405940594vw , 5rem );
  }
  .footer__copy {
    padding-top: clamp( 0.625rem , 0.42698019801875rem  +  0.9900990099vw , 1.25rem );
  }
  .footer__copy {
    padding-bottom: clamp( 0.625rem , 0.42698019801875rem  +  0.9900990099vw , 1.25rem );
  }
  .footer__right p {
    font-size: clamp( 0.75rem , 0.67079207920625rem  +  0.396039604vw , 1rem );
  }
  .footer__right a {
    font-size: clamp( 0.75rem , 0.67079207920625rem  +  0.396039604vw , 1rem );
  }
  .item-footer {
    gap: clamp( 0.375rem , 0.33539603960625rem  +  0.198019802vw , 0.5rem );
  }
  .item-footer__text p {
    font-size: clamp( 0.5rem , 0.34158415841875rem  +  0.7920792079vw , 1rem );
  }
  .item-footer__social {
    gap: clamp( 0.9375rem , 0.64047029703125rem  +  1.4851485149vw , 1.875rem );
  }
  .item-footer__title {
    font-size: clamp( 1rem , 0.92079207920625rem  +  0.396039604vw , 1.25rem );
  }
  .item-footer__title {
    margin-bottom: clamp( 0.5rem , 0.46039603960625rem  +  0.198019802vw , 0.625rem );
  }
  .item-footer__link {
    font-size: clamp( 0.625rem , 0.54579207920625rem  +  0.396039604vw , 0.875rem );
  }
  .left-footer {
    column-gap: clamp( 0.9375rem , 0.3236386138625rem  +  3.0693069307vw , 2.875rem );
  }
  .left-footer__text {
    font-size: clamp( 0.75rem , 0.67079207920625rem  +  0.396039604vw , 1rem );
  }
  .subscribe {
    margin-bottom: clamp( 1.875rem , 0.09282178218125rem  +  8.9108910891vw , 7.5rem );
  }
  .subscribe__content {
    column-gap: clamp( 0.3125rem , -2.0439356435625rem  +  11.7821782178vw , 7.75rem );
  }
  .subscribe__content {
    padding-top: clamp( 0.3125rem , -1.17264851485rem  +  7.4257425743vw , 5rem );
  }
  .subscribe__content {
    padding-bottom: clamp( 0.3125rem , -1.17264851485rem  +  7.4257425743vw , 5rem );
  }
  .subscribe__content {
    padding-left: clamp( 0.3125rem , -1.76670792079375rem  +  10.396039604vw , 6.875rem );
  }
  .subscribe__content {
    padding-right: clamp( 0.3125rem , -1.76670792079375rem  +  10.396039604vw , 6.875rem );
  }
  .subscribe__title {
    font-size: clamp( 1.125rem , 0.887376237625rem  +  1.1881188119vw , 1.875rem );
  }
  .subscribe__text p {
    font-size: clamp( 0.875rem , 0.83539603960625rem  +  0.198019802vw , 1rem );
  }
  .sectiontitle {
    padding-bottom: clamp( 0.9375rem , 0.64047029703125rem  +  1.4851485149vw , 1.875rem );
  }
  .sectiontitle__title a {
    font-size: clamp( 1.125rem , 0.887376237625rem  +  1.1881188119vw , 1.875rem );
  }
  .sectiontitle__link {
    font-size: clamp( 0.75rem , 0.71039603960625rem  +  0.198019802vw , 0.875rem );
  }
  .insta {
    margin-bottom: clamp( 1.875rem , 0.4888613861375rem  +  6.9306930693vw , 6.25rem );
  }
  .insta__items {
    gap: clamp( 0.3125rem , 0.01547029703125rem  +  1.4851485149vw , 1.25rem );
  }
}@media (width > 83.125em){
  .menu__list {
    gap: 2.75rem;
  }
  .header__container {
    gap: 7.5rem;
  }
  .logo {
    font-size: 2.0625rem;
  }
  .actions-header {
    column-gap: 1.1875rem;
  }
  .footer__body {
    padding-bottom: 5rem;
  }
  .footer__copy {
    padding-top: 1.25rem;
  }
  .footer__copy {
    padding-bottom: 1.25rem;
  }
  .footer__right p {
    font-size: 1rem;
  }
  .footer__right a {
    font-size: 1rem;
  }
  .item-footer {
    gap: 0.5rem;
  }
  .item-footer__text p {
    font-size: 1rem;
  }
  .item-footer__social {
    gap: 1.875rem;
  }
  .item-footer__title {
    font-size: 1.25rem;
  }
  .item-footer__title {
    margin-bottom: 0.625rem;
  }
  .item-footer__link {
    font-size: 0.875rem;
  }
  .left-footer {
    column-gap: 2.875rem;
  }
  .left-footer__text {
    font-size: 1rem;
  }
  .subscribe {
    margin-bottom: 7.5rem;
  }
  .subscribe__content {
    column-gap: 7.75rem;
  }
  .subscribe__content {
    padding-top: 5rem;
  }
  .subscribe__content {
    padding-bottom: 5rem;
  }
  .subscribe__content {
    padding-left: 6.875rem;
  }
  .subscribe__content {
    padding-right: 6.875rem;
  }
  .subscribe__title {
    font-size: 1.875rem;
  }
  .subscribe__text p {
    font-size: 1rem;
  }
  .sectiontitle {
    padding-bottom: 1.875rem;
  }
  .sectiontitle__title a {
    font-size: 1.875rem;
  }
  .sectiontitle__link {
    font-size: 0.875rem;
  }
  .insta {
    margin-bottom: 6.25rem;
  }
  .insta__items {
    gap: 1.25rem;
  }
}@media (any-hover: hover){
  .menu__link:hover {
    color: #72AEC8;
  }
  .menu__link:hover::after {
    left: 0;
    width: 100%;
    background-color: #72AEC8;
  }
  .actions-header--icon-search:hover {
    color: #72AEC8;
    scale: 1.2;
  }
  .actions-header--icon-man:hover {
    color: #72AEC8;
    scale: 1.2;
  }
  .item-footer__text a:hover {
    color: #72AEC8;
  }
  .item-footer__link:hover {
    color: #72AEC8;
  }
  .social--icon-s-ut:hover {
    scale: 1.3;
  }
  .social--icon-s-in:hover {
    scale: 1.3;
  }
  .social--icon-s-tv:hover {
    scale: 1.3;
  }
  .social--icon-grm:hover {
    scale: 1.3;
  }
  .social--icon-s-fb:hover {
    scale: 1.3;
  }
  .button:hover {
    color: #3A3A3A;
  }
  .button:hover {
    color: #3A3A3A;
  }
  .button--black:hover {
    color: #72AEC8;
  }
  .cart:hover {
    color: #72AEC8;
    scale: 1.2;
  }
  .sectiontitle__title a:hover {
    color: #72AEC8;
  }
  .sectiontitle__link:hover {
    transition: background-color 0.5s;
    color: #72AEC8;
  }
  .sectiontitle__link:hover::after {
    background-color: #72AEC8;
  }
  .insta__item:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .insta__item:hover .insta__hover {
    opacity: 1;
  }
  .insta__item img:hover {
    scale: 1.1;
  }
}